:root {
    --main-bg-color: #1B222D;
    --navbar-height: 60px;
}

html, body {
    margin: 0;
    overflow-y: auto; /* Enables vertical scrolling */
    background-color: black;

}

.app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2rem); /* change from height to min-height */
}

.navbar {
    height: var(--navbar-height);
    /* your other styles */
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    min-height: calc(100vh - var(--navbar-height) - 2rem); /* change from height to min-height */
    border-radius: 1.25rem;
    overflow: hidden;
    gap: 1rem;
}

.section-one,
.section-two {
    flex: 0 0 auto;
    background-color: var(--main-bg-color);
}

.section-two {
    overflow-y: auto;
    flex: 0 0 auto; 
    border-radius: 1.25rem;
}

/* news css */
/* Section-3 */
.section-three {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
    flex: 1 0 auto;
    border-radius: 1.25rem;
    /* margin: 1rem; */
    /* margin-right: 1rem; */

      /* Add scrollbar styles here */
      ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #1A1A1D;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Add some shadow for depth */
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #555, #999); /* Adds a gradient effect */
        border-radius: 10px;
        border: 2px solid #1A1A1D; /* Add a border to the thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #777, #BBB); /* Change gradient on hover */
    }
}

.news{
    height: 65vh;
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex; /* Added this to center the table */
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border-radius: 1.25rem;
    overflow-y: auto;
}

#news-table {
    border-collapse: collapse;
    margin-top: 2rem;
    background-color: var(--main-bg-color);
    /* Removed the left and right margins */
    width: 80%; /* Adjust this to change the table width */
    margin: 2rem auto; /* Centered the table horizontally */
    font-family: 'Inter';
}

/* Style for the table rows */
#news-table tr {
    border-bottom: 10px solid black;
}

/* Style for the table cells */
#news-table td {
    padding: 10px;
}

/* Style for the image cell */
.imgtd {
    width: 20%;
}

/* Style for the image inside the image cell */
.imgtd img {
    max-width: 100%;
}

/* Style for the details cell */
.dettd {
    width: 80%;
    color: white;
}

/* Style for the title */
.dettd h1 {
    font-size: 18px;
    margin: 0;
}

/* Style for the source */
.dettd p {
    margin: 0;
}

/* Style for the "Read More" link */
.dettd a {
    text-decoration: none;
    color: #0074d9;
    display: block;
    margin-top: 5px;
}

/* Style for the sentiment score */
.dettd p.sentiment-score {
    margin: 5px 0;
}

/* Style for the sentiment label */
.dettd p.sentiment-label {
    margin: 5px 0;
}


#suggestionsContainer {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    margin-top: 28rem;
    margin-left: 32rem;
}
.suggestion {
    padding: 8px;
    cursor: pointer;
}

/* Section-4 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.section-four {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg-color);
    /* padding: 2rem; */
    border-radius: 10px;
    /* margin: 1rem; */
    overflow-y: auto;
    flex: 1 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2vw;
    height: 65vh;
    /* margin: 1vw; */
    margin-top: 2rem;
    margin-right: 1rem;
}

.controls {
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap to a new line as necessary */
    justify-content: space-between;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(174, 178, 183, 0.2);
    padding-bottom: 1.5rem;
}

.control {
    display: flex;
    flex: 1 0 auto; 
    align-items: center;
    margin: 0.5rem;
    /* flex: 1 0 100%; By default, take the full width of the .controls container */
}

.control label {
    margin-right: 0.5rem;
    color: #AEB2B7;
    font-weight: 500;
}

.control-select {
    background-color: #1B222D;
    border: none;
    color: #AEB2B7;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.control-select:hover {
    background-color: #252c36;
    transform: scale(1.05);
}

.apply-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #252c36;
    color: #AEB2B7;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: 600;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.apply-button:hover {
    background-color: #2c333f;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.apply-button:active {
    transform: scale(0.95);
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.stock-table th,
.stock-table td {
    padding: 1rem;
    border-bottom: 1px solid #AEB2B7;
    color: #AEB2B7;
    transition: background-color 0.3s ease;
}

.stock-table th {
    background-color: #1B222D;
    color: #AEB2B7;
    font-weight: 600;
}

.stock-table tr:hover {
    background-color: #252c36;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color:#1B222D ;
    color: white;
}

.stock-table tbody {
 /* Make the tbody a block-level element */
    margin: 0 auto; /* Center align the tbody */
}

@media (max-width: 768px) {
    .section-four {
      padding: 5vw;
      margin: 2vw;
    }
    .section-four {
        font-size: 0.8rem; /* Decrease the font size */
        padding: 1rem; /* Decrease the padding */
      }
    
      .controls {
        margin-bottom: 1rem; /* Decrease the margin */
        padding-bottom: 1rem; /* Decrease the padding */
        justify-content: center;
      }
    
      .control {
        margin: 0.3rem; /* Decrease the margin */
      }
      
      .control.control-date {
        flex: 0 0 calc(50% - 1rem); /* Subtract margins from width */
    }

    .control.control-options, 
    .apply-button {
        flex: 0 0 calc(50% - 1rem) /* Make other controls and Apply button take full width */
    }
    
      .control label {
        margin-right: 0.3rem; /* Decrease the margin */
      }
    
      .control-select, .apply-button {
        padding: 0.3rem; /* Decrease the padding */
      }
    
      .stock-table th,
      .stock-table td {
        padding: 0.5rem; /* Decrease the padding */
      }
    
      input[type="date"] {
        padding: 0.3rem; /* Decrease the padding */
        font-size: 0.8rem; /* Decrease the font size */
      }

      .stock-table, .stock-table th, .stock-table td {
        font-size: 0.6rem; /* Decrease the font size */
        padding: 0.5rem; /* Decrease the padding */
      }
      .control {
        flex: 1 0 100%; /* Allow the items to shrink and grow, and take up the full width */
    }
  }


@media (min-width: 769px) {
    .control-date,
    .control-options {
        flex: 1 0 auto; /* Prevent the items from shrinking and growing */
    }
}

@media (max-width: 448px) {
    .stock-table, .stock-table th, .stock-table td {
        font-size: 0.55rem; /* Decrease the font size */
        padding: 0.5rem; /* Decrease the padding */
      }
    
}

@media (max-width: 359px) {
    .stock-table, .stock-table th, .stock-table td {
        font-size: 0.35rem; /* Decrease the font size */
        padding: 0.5rem; /* Decrease the padding */
      }

    /* tabbed nav */
    .tab-bar {
        display: flex;
        background: linear-gradient(to right, #1B222D, #2F3B4D);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        width: 100%;
        font-size: 0.75rem;
    }
}